
@using Release.Helper.WebKoMvc.Extensions
<ol class="breadcrumb">
    <li><a href="@Html.ResourcePath("Home/Index")">Inicio</a></li>
    <li class="active">Cursos</li>
</ol>
<!--CABECERA-->
<div class="row">
    <div class="col-sm-8">
        <div class="page-header-custom">
            <h1 class="title-custom">Cursos</h1>
        </div>
    </div>   
</div>


@section scripts {
    @Html.InitPageMainModule("views/curso/index")
}
